.container {
  height: 100%;
  background-color: white;
  border-radius: 20px;
  padding: 2rem;

  .header {
    align-items: center;

    .button_container {
      justify-content: right;
    }
  }
}
