.container {
  background-color: white;
  border-radius: 20px;
  padding-inline: 2rem;
  padding-block: 0.5rem;

  .header {
    align-items: center;
    margin-bottom: 1rem;

    .button_container {
      display: flex !important;
      justify-content: right;
    }
  }
}

.order_summary {
  margin-block: 20px;
  width: 100%;

  .summary_details {
    width: 100% !important;

    input {
      text-align: right;
    }
  }
}

.input_number {
  width: 100%;
}

.button {
  background-color: #001529 !important;
}

.button:hover {
  background-color: #0015293c !important;
}

.modal_action {
  display: flex;
  justify-content: right;
  column-gap: 8px;
  margin-top: 24px;
}

.select {
  width: 200px;
}

.filter_status {
  width: 150px;
}