.container {
  background-color: white;
  border-radius: 20px;
  padding-inline: 2rem;
  padding-block: 0.5rem;

  .header {
    align-items: center;
    margin-bottom: 1rem;

    .search {
      width: 200px;
    }

    // .button_container {
    //   display: flex !important;
    //   justify-content: right;
    // }
  }
}

.input_number {
  width: 100%;
}

.modal_action {
  display: flex;
  justify-content: right;
  column-gap: 8px;
}

@media (max-width: 576px) {
  .container {
    .header {

      .search,
      .button_container {
        width: 100%;
      }
    }
  }
}