.container {
  height: 100%;
  background-color: white;
  border-radius: 20px;
  padding-inline: 2rem;
  padding-block: 0.5rem;

  .summary_row {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
  }

  .card_statistics {
    .statistic_title {
      font-size: 16px;
      font-weight: 600;
      color: #001529;
    }

    .statistic_amount {
      font-size: 32px;
      font-weight: 700;
    }
  }
}